body {
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

 header {
    text-align: center;  
    margin-bottom: 30px; 
}

.l {
    margin-top: 40px;
    margin: 60px;
    display: inline;
    vertical-align: middle;
    width: 150px;   
}

.navbar {
    margin-top: -350px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;   
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color:grey;
}
.name{
    float:right;
    padding-right: 165px;
    margin-top: 100px;
    
}
.container {
   
    margin: 50px;
    margin-bottom: -110px;
    text-align: center;
    margin-top: 20px;
}

.left-box, .right-box {
    display: inline-block;
    width: 40%;
    height: 100px;
    vertical-align: top;
    margin: 10px;
    padding: 20px;
    border: 0px solid grey;
}

/* Left box styling */
.left-box {
    width:40%;
    padding: 40px;
    margin: 50px;
    border: 0px solid;
    border-radius: 10px;
    height: 300px;
   
    background-color:rgba(245, 245, 245, 0.17);
    margin-left: 45px;
}
.left-box h1 {
    margin-bottom: 10px;
}
.left-box h2 {
    margin-bottom: 10px;
}
.left-box p {
    margin: 20px 0;
}

.btn {
    margin-top: 10px;
}
.right-box {
    width:30%;
    padding: 30px;
    margin: 50px;
    border: 0px solid;
    border-radius: 10px;
    height: 300px;
   
    background-color:rgba(245, 245, 245, 0.17);
}
.btn {
    margin-top: -200px;
    font-size: large;
    background-color: red;
    color: blue;
    border-radius: 5px;
}
.left-box h2,p{
    margin: 50px;
}
.right-box img{
    width:320px;
} 
.main {
    
    align-items: center;
    justify-content:space-between;
    border: 0px solid black;       
    margin: 40px;
    background-color: rgba(245, 245, 245, 0.2);
}

